:root {
    --dark: #19283f;
    --green: #33d1cc;
    --red: #ff3150;
    --yellow: #ffc400;
    --section: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
input:focus {
    outline: none;
}
input::placeholder { 
    color: white;
}
/* start navbar section */
.navbar {
    background-color: var(--dark);
}
.main-btn {
    background-color: var(--red);
    color: var(--yellow);
    border: none;
}
.main-btn:hover {
    background-color: var(--yellow);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus, 
.navbar .navbar-nav .nav-link:hover {
    color: var(--green);
}
.navbar .search svg {
    color: var(--green);
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green) !important;
}
.navbar .navbar-toggler {
    box-shadow: none;
}
/* the end */
/* start the landing section */
.landing {
    min-height: calc(100vh - 300px);
}
/* the end */
/* start features section */
.main-title::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 1px;
    background: var(--green);
    left: 50%;
    transform: translateX(-50%);
}
/* the end */
/* start the columns section */
.icon-holder {
    height: 250px;
}
.icon-holder .number {
    font-size: 12rem;
    color: var(--section);
}
.icon-holder svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* the end */
/* start the work section */
.work ul li:not(.active):hover {
    color: var(--red);
    cursor: pointer;
}
.work .box::before {
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #33d1ccbd;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: translateY(calc(-100% - 5px));
}
.work .box:hover::before {
    transform: translateY(0);
}
/* the end */
/* start the stuff section */
@media (max-width: 767px) {
    .stuff .container .row a {
        display: block;
        width: fit-content;
        margin: 1rem auto;
    }
}
/* the end */